<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!-- Bootstrap core CSS -->
    <link
            rel = 'stylesheet'
            type="text/css"
            href="{% static '/css/bootstrap.css' %}">
    <title>Khoury Registration Website</title>
</head>
<body>

<h1>Khoury Registration Website</h1>

<button type="button" class="btn btn-primary">Student LogIn</button>
<button type="button" class="btn btn-primary">Advisor LogIn</button>
<button type="button" class="btn btn-primary">Admin LogIn</button>


</body>
</html>