<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!-- Bootstrap core CSS -->
    <link
            rel='stylesheet'
            type="text/css"
            href="{% static '/css/bootstrap.css' %}">
    <link
            rel='stylesheet'
            type="text/css"
            href="{% static '/css/styles.css' %}">
    <title>Khoury Registration Website</title>
</head>
<body>
<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/student">Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/advisor">Advisor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container px-4 py-5">

    <!-- Content here -->
    <label for="semester">Choose a Semester:</label>
    <select class="form-select w-25" id="semester" form="semester_form" name="semester">
        <option selected>Choose semester</option>
        <option value="Spring">Spring</option>
        <option value="Summer">Summer</option>
        <option value="Fall">Fall</option>
    </select>
    <form method="post" id="semester_form">
        {% csrf_token %} {{ form.as_p }}
        <br class="my-4">
        <button class="w-10 btn btn-primary btn-lg" type="submit">See Course List</button>
    </form>

</div>

</body>
</html>